/* TICKET FORM */
.tito-ticket-name-wrapper { width: 80%; }

.tito-ticket-price { font-weight: bold; }

/* SPONSORSHIP TABLE */
table { width: 100%; border-collapse: collapse; border-spacing: 0px; }

th, td { border-bottom: 1px solid #E1E1E1; padding: 8px 0px 8px 8px; vertical-align: top; }
