#LinkChecker==9.3  # waiting for py3 version
lxml==3.4.4
MarkupSafe==0.23
python-dateutil==2.4.2
pytz==2015.4
regex==2015.5.10
requests==2.7.0
six==1.9.0
Unidecode==0.4.17
-e git+https://github.com/tBaxter/vobject.git@5bdf21751a6f443045e05db862e00be5bbd006f3#egg=vobject
-e git+https://github.com/jneves/wok.git@77f067bf7d02b003e29476615d37af2f3fe4b042#egg=wok
