<header class="head">
	<div class="wrap">
		<h1><a href="/">PyCon UK 2015</a></h1>
		<label class="menu-icon" for="toggle-nav">Menu</label>
		<input type="checkbox" id="toggle-nav" class="hidden" />
		<nav class="nav">
			<ul>
				<li><a {% if page.title == "Home" %} class="active"{% endif %}href="/">Home</a></li>
				<li><a {% if page.title == "Schedule" %} class="active"{% endif %}href="/schedule/">Schedule</a></li>
				<li><a {% if page.title == "Venue" %} class="active"{% endif %}href="/venue/">Venue</a></li>
				<li><a {% if page.title == "Education" %} class="active"{% endif %}href="/education/">Education</a></li>
				<li class="halfway"><a {% if page.title == "Science" %} class="active"{% endif %}href="/science/">Science</a></li>
				<li><a{% if page.title == "Volunteering" %} class="active"{% endif %} href="/volunteer/">Volunteer</a></li>
				<li><a{% if page.title == "Code Of Conduct" %} class="active"{% endif %} href="/codeofconduct/">CoC</a></li>
				<li><a{% if page.title == "Registration" %} class="active"{% endif %} class="now" href="/register/">Register</a></li>
			</ul>
		</nav>
	</div>
</header>
