<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.title }}</title>

        <meta http-equiv="X-Clacks-Overhead" content="GNU John Pinner">
        <link rel="stylesheet" href="/css/main.css">
        {% if page.tito_required %}
        <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1' />
        <script src='https://js.tito.io/v1' async></script>
        {% endif %}
    </head>

    <body class="{{ page.body_class_hack }}">

        <header class="page-head">
            <div class="wrap">
                <h1><a href="/">PyCon UK 2015</a></h1>
                <label class="menu-icon" for="toggle-nav">Menu</label>
                <input type="checkbox" id="toggle-nav" class="hidden" />
                <nav class="nav">
                    <ul>
                        <li><a {% if page.title == "Schedule" %} class="active"{% endif %}href="/schedule/flat/">Schedule</a></li>
                        <li><a {% if page.title == "Venue" %} class="active"{% endif %}href="/venue/">Venue</a></li>
                        <li><a {% if page.title == "Sponsorship" %} class="active"{% endif %}href="/sponsorship/">Sponsor</a></li>
                        <li><a {% if page.title == "RSE" %} class="active"{% endif %}href="/rse/">RSE</a></li>
                        <li class="halfway"><a {% if page.title == "Education" %} class="active"{% endif %}href="/education/">Education</a></li>
                        <li><a{% if page.title == "Volunteering" %} class="active"{% endif %} href="/volunteer/">Volunteer</a></li>
                        <li><a{% if page.title == "Code Of Conduct" %} class="active"{% endif %} href="/codeofconduct/">CoC</a></li>
                        <li><a{% if page.title == "Registration" %} class="active"{% endif %} class="now" href="/register/">Register</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer class="page-foot">
            <div class="wrap">
                &copy; 2016. All rights reserved.
            </div>
        </footer>

    </body>

    <!-- Python Powered! -->
</html>
