<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.title }}</title>

        <meta http-equiv="X-Clacks-Overhead" content="GNU John Pinner">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1' />
        <script src='https://js.tito.io/v1' async></script>
    </head>

    <body class="{{ page.body_class_hack }}">

        <header class="head">
            <div class="wrap">
                <h1><a href="/">PyCon UK 2015</a></h1>
                <label class="menu-icon" for="toggle-nav">Menu</label>
                <input type="checkbox" id="toggle-nav" class="hidden" />
                <nav class="nav">
                    <ul>
                        <li><a {% if page.title == "Home" %} class="active"{% endif %}href="/">Home</a></li>
                        <li><a {% if page.title == "Programme" %} class="active"{% endif %}href="/programme/">Programme</a></li>
                        <li><a {% if page.title == "Venue" %} class="active"{% endif %}href="/venue/">Venue</a></li>
                        <li><a {% if page.title == "Education" %} class="active"{% endif %}href="/education/">Education</a></li>
                        <li class="halfway"><a {% if page.title == "Science" %} class="active"{% endif %}href="/science/">Science</a></li>
                        <li><a{% if page.title == "Volunteering" %} class="active"{% endif %} href="/volunteer/">Volunteer</a></li>
                        <li><a{% if page.title == "Code Of Conduct" %} class="active"{% endif %} href="/codeofconduct/">CoC</a></li>
                        <li><a{% if page.title == "Registration" %} class="active"{% endif %} class="now" href="/register/">Register</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="intro">
            <div class="column_intro">
                {% if page.slug == "home" %}
                <div class="imageblock">
                    <img src="static/img/header-home.jpg" alt="Best Ever PyCon UK">
                </div>
                {% else %}
                <div class="textblock">
                    <h1 class="huge">{{ page.title }}</h1>
                </div>
                {% endif %}
            </div>
        </div>

        <article class="main-article">
            <div class="content">
                <div class="column_content">
                    <div class="textblock">
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </article>

        <footer class="foot">
            <div class="wrap">
                &copy; 2015. All rights reserved.
            </div>
        </footer>

    </body>

</html>
