{% extends "base.html" %}

{% block content %}
<div class="intro">
    <div class="column_intro">
        {% if page.slug == "home" %}
        <div class="imageblock">
            <img src="/img/header-home.jpg" alt="Best Ever PyCon UK">
        </div>
        {% else %}
        <div class="textblock">
            <h1 class="huge">{{ page.title }}</h1>
        </div>
        {% endif %}
    </div>
</div>

<article class="main-article">
    <div class="content">
        <div class="column_content">
            <div class="textblock">
                {{ page.content }}
            </div>
        </div>
    </div>
</article>
{% endblock %}
